<div class="box">
  <div ngCollapsible [ngCollapseOptions]="{accessibility: true, arrowSide: 'start', showArrow: true, accordion: true}">
    <h2>Header: </h2>
    <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
      <li>item 4</li>
      <li>item 5</li>
      <li>item 6</li>
      <li>item 7</li>
    </ul>
  </div>

  <div ngCollapsible [ngCollapseOptions]="{accessibility: false, arrowSide: 'end', showArrow: true, accordion: true}">
    <h3>Header: </h3>
    <ul>
      <li>item 11</li>
      <li>item 22</li>
      <li>item 33</li>
      <li>item 44</li>
      <li>item 55</li>
      <li>item 66</li>
      <li>item 77</li>
    </ul>
  </div>

  <div ngCollapsible [isOpen]="true" [ngCollapseOptions]="{accessibility: true, arrowSide: 'start', showArrow: true, accordion: true}">
    <h4>Header: </h4>
    <ul>
      <li>item 111</li>
      <li>item 222</li>
      <li>item 333</li>
      <li>item 444</li>
      <li>item 555</li>
      <li>item 666</li>
      <li>item 777</li>
    </ul>
  </div>
</div>