<h1 class="header">NG Collapsible</h1>
<div class="container">
    <div class="box">
        <h2>Collapsible</h2>
  
        <div ngCollapsible [ngCollapseOptions]="{accessibility: true, arrowSide: 'start', showArrow: true, accordion: false}">
          <h4>Simple Collapsible: </h4>
          <li *ngFor="let item of items">{{item}}</li>
        </div>
      
        <div ngCollapsible [ngCollapseOptions]="{accessibility: true, arrowSide: 'end', showArrow: true, accordion: false, iconSet: 'md'}">
          <h4>Collapsible Left Arrow:</h4>
          <ul>
            <li *ngFor="let item of items">{{item * 2}}</li>
          </ul>
        </div>
      
        <div ngCollapsible [isOpen]="true"
          [ngCollapseOptions]="{accessibility: false, arrowSide: 'start', showArrow: true, accordion: false, iconSet: 'plus-minus'}">
          <h4>Start Open Collapsible:</h4>
          <div *ngFor="let item of items">{{item + item / 2}}</div>
        </div>
      </div>
      <div class="box">
          <h2>Accordion</h2>
          <div ngCollapsible 
            [ngCollapseOptions]="{accessibility: true, arrowSide: 'start', showArrow: true, accordion: true}">
            <h5>Accordion 1</h5>
            <div *ngFor="let item of items">{{item + item / 2}}</div>
          </div>
          <div ngCollapsible [isOpen]="true"
            [ngCollapseOptions]="{accessibility: true, arrowSide: 'start', showArrow: true, accordion: true}">
            <h5>Accordion 2</h5>
            <div *ngFor="let item of items">{{item + item / 2}}</div>
          </div>
          <div ngCollapsible 
            [ngCollapseOptions]="{accessibility: true, arrowSide: 'start', showArrow: true, accordion: true}">
            <h5>Accordion 3</h5>
            <div *ngFor="let item of items">{{item + item / 2}}</div>
          </div>
        </div>
</div>
